

<div class="banner">
  <div class="container-box1">
  <h1>Get your goat </h1>
  <h2>      & got your guest</h2>
    <div class="form">
      <input type="text" class="searchgoat" placeholder="Where..">|
      <input type="text" class="searchgoat" placeholder="When..">|
      <input type="text" class="searchgoat" placeholder="When..">|
      <input type="submit" id="submit">
    </div>
  </div>
  <div class="container-box2">
   <%= image_tag "https://www.pngarts.com/files/4/Goat-PNG-High-Quality-Image.png", style: 'width:30%' %>
  </div>
</div>


<div class="container-box">
<h3>Top category</h3>
<div class="cards1">
 <% @goat_ads.each do |goat_ad| %>
     <div class="card-category"> <%= goat_ad.features %> </div>
  <% end %>
 </div>
</div>

<div class="container-box">
<h3>Most popular</h3>
<div class="cards">
 <% @goat_ads.each do |goat_ad| %>
 <div class="card" style="width: 22rem;">
  <div class="card-img-top"> <%= image_tag "https://www.pngarts.com/files/4/Goat-PNG-High-Quality-Image.png", style: 'width:60%'%></div>
  <div class="card-body">
    <h5 class="card-title"><%= link_to goat_ad.name, goat_ad %></h5>
    <p class="card-text"><%=goat_ad.features%></p>
    <a href="#" class="btn btn-dark btn-block"><%= goat_ad.price_per_day%>€ </a>
  </div>
</div>
  <% end %>
 </div>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



