

<div class="banner">
  <div class="container-box1">
  <h1>Get your goat </h1>
  <h2>      & got your guest</h2>
  
    <div class="form">
            <%= form_tag goat_ads_path, method: :get,
                class: "formsearch" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "search_bar",
                placeholder: "Find a goat"
              %>
              <% end %>
             <%= submit_tag "Search", class: "btn btn-dark" %>        
    </div>
  </div>
  
  <div class="container-box2">
   <%= image_tag "https://www.pngarts.com/files/4/Goat-PNG-High-Quality-Image.png", style: 'width:30%' %>
  </div>
</div>


<div class="container-box">
<h3>Top category</h3>
<div class="cards1">
 <% features_collection.each do |feature| %>
     <div class="card-category" style="background-image: url(https://source.unsplash.com/featured/?goat)"> <%= link_to feature, goat_ads_path(feature: feature), class: "text-decoration-none" %> </div>
  <% end %>
 </div>
</div>

<div class="container-box">
<h3>Most popular</h3>
<div class="cards">

  <% @goat_ads.each do |goat_ad| %>
 <div class="card" style="width: 22rem;">


    <div class="card-img-top"> 
      <%= link_to goat_ad do %>
      <% goat_ad.medias.first(1).each do |media| %>
      <%= cl_image_tag media.key, height: 200, width: 200, crop: :fill%>
      <% end %>
      <% end %> 
    </div>

    <div class="card-body">
        <h5 class="card-title"><%= goat_ad.name %></h5>
        <p class="card-text"><%=goat_ad.features%></p>
        <p class="card-text"><%=goat_ad.price_per_day%></p>
        <%= link_to "Rent now", goat_ad , class: "btn btn-dark" %>
    </div>

  </div>
  <% end %>
 </div>
</div>
