<div class="new">

<%= simple_form_for [ @goat_ad] do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <%= f.input :description %>
  <%= f.input :price_per_day %>
  <%= f.input :features, :collection => %w[fighter milker mower sociable space-traveller] %>
  <%= f.input :medias, as: :file, label: "Add a media of your goat" %>
  <%= f.input :start_available %>
  <%= f.input :end_available %>

  <%= f.submit "Submit creation", class: "btn btn-primary" %>

<% end %>

</div>

