<div class="goat-header">
  <h1><%= @goat_ad.name %></h1>
  <p>5,0 (25 reviews)</p>
  <p>Address : <%= @goat_ad.address %></p><br/>
</div>

<div class="galleryflex">

    <% @goat_ad.medias.each do |media| %>
    <div class="gallery_show">
    <%= cl_image_tag media.key, height: 150, width: 220, crop: :fill%>
    </div>
    <% end %>

</div>

<div class="goat-board">
  <div style="width: 70%; float:left">
    <h3>Single goat. Owner:</h3>
    <p><%= @goat_ad.age %> years old</p>
    <p><%= @goat_ad.features %></p>
    <hr class="solid">

    <div class="goat-description">
      <h3>Description</h3><%= @goat_ad.description %>

      <br/>

        <%=link_to"index", goat_ads_path %>
    </div>
  </div>

  <div style="width: 30%">
    <div class="booking-card" style="width: 22rem;">
      <div class="card-img-top"> </div>
        <div class="card-body">
          <h5 class="booking-card-price"><%= @goat_ad.price_per_day %>€ /day</h5>
            <%= simple_form_for [ @goat_ad, @booking ] do |f| %>
      <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Book now", class: "btn btn-dark btn-block" %>
    <% end %>
  </div>
</div>
          <a href="#" class="btn btn-dark btn-block">Book now </a>
        </div>
      </div>
    </div>
  </div>

<%#=    <h2> <%= @goat_ad.name %> </h2>
<%#=     <p> <%= @goat_ad.age %> </p>
<%#=     <p> <%= @goat_ad.address %> </p>
<%#=     <p> <%= @goat_ad.longitude %> </p>
<%#=    <p> <%= @goat_ad.latitude %> </p>
<%#=     <p> <%= @goat_ad.description %> </p>
<%#=     <p> <%= @goat_ad.price_per_day %> </p>
<%#=     <p> <%= @goat_ad.features %> </p>
<%#=     <p> <%= @goat_ad.medias %> </p>
<%#=     <p> <%= @goat_ad.start_available %> </p>
<%#=     <p> <%= @goat_ad.end_available %> </p>
</div>
