<h1>show</h1>


    <h2> <%= @goat_ad.name %> </h2>
    <p> <%= @goat_ad.age %> </p>
    <p> <%= @goat_ad.address %> </p>
    <p> <%= @goat_ad.longitude %> </p>
    <p> <%= @goat_ad.latitude %> </p>
    <p> <%= @goat_ad.description %> </p>
    <p> <%= @goat_ad.price_per_day %> </p>
    <p> <%= @goat_ad.features %> </p>
    <p> <%= @goat_ad.media %> </p>
    <p> <%= @goat_ad.start_available %> </p>
    <p> <%= @goat_ad.end_available %> </p>

    <%=link_to"index", goat_ads_path %>


